main {
  background-color: $white;
  border-radius: 16px 16px 0 0;
  padding: 1.5rem;

  @include medium {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0 2rem;
  }
}

.main {
  &__container {
    &--mobile-bottom {
      padding: 1.5rem;
      margin-top: 2rem;
      border-radius: 16px;
      background-color: $very-dark-cyan;

      @include medium {
        margin-top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem 2rem;
      }
    }

    &-text {
        font-weight: 700;
      
        &--dark {
          color: $dark-gray-cyan;

          @include medium {
            font-size: 1.25rem;
          }
        }

        &--dark-small {
          font-size: 1rem;
          color: $dark-grayish-cyan;
        }
      
        &--light {
          color: $light-grayish-cyan;

          @include medium {
            font-size: 1.25rem;
          }
        }

        &-bill {
          color: $strong-cyan;
          font-size: 2rem;
          font-weight: 700;
        }
    }

    &--amount-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.3;
      padding-bottom: 1rem;
    }

    &--buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem;
      padding: 1rem 0;
    }
  }
}